:root{
	--bg-color:#1a1a1a;
	--text-color:lightgray;
	--a-color:#7e7349;
	--a-visited-color:lightblue;
	--a-hover-color:lightgray;
	--input-border-color:rgba(255,255,255,.1);
	--input-placeholder-color:lightblue;
	--dialog-bg-color:rgba(10, 10, 10, .94);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: var(--bg-color);
}
*::-webkit-scrollbar-thumb {
    background: gray; 
}
html{
	filter:invert(100%) hue-rotate(180deg);
}
#app-container.app-imagery-mode canvas{
	filter:invert(100%) hue-rotate(180deg);
}
img, figure{
	filter:invert(0%) hue-rotate(0deg) !important;
}
grammarly-extension{visibility:hidden;}