body{filter:brightness(76%);}
body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: black;
}
body::-webkit-scrollbar-thumb {
    background: gray; 
}
* {
  background: #262626 !important;
  border-color: #262626 !important;
  color: #9a9a9a !important;
}

#p-logo a {
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

a {
  color: #000000 !important;
}

a:visited {
  color: #ccc !important;
}

a:link {
  color: #ccc !important;
  font-weight: bold !important;
}

a:hover, a:hover span {
  color: #fff !important;
  text-decoration: underline !important;
}

#content, #content *:not([class=bookshelf]) {
  color:lightgray !important;
  border-color: #555 !important;
}
span.bookshelf span.text{background:black !important;border:1px solid white !important;padding-top:2px;padding-bottom:2px;border-radius:2px;}

#content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#toc, #toc * {
  background: #262626 !important;
  border-color: #262626 !important;
}

#toc {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#p-cactions li.selected a, #p-cactions li a, #p-cactions li a:hover {
  padding: 0 1em 0.1em !important;
}

#bodyContent pre {
  background: #1a1a1a !important;
}

#p-logo .mw-wiki-logo{background-image:url(http://en.wikipedia.org/static/images/project-logos/enwiki.png) !important;}

.mwe-popups-extract::after{background:none !important; background-color:transparent !important;}
.portlet li {
  list-style-image: none !important;
}

ul {
  list-style-image: none !important;
}
div *{background:none !important;}
img.mwe-math-fallback-image-inline, img.mwe-math-fallback-image-display{filter:invert(100%) !important;}
grammarly-extension{visibility:hidden;}