:root{
	--bg-color:#1a1a1a;
	--text-color:lightgray;
	--a-color:#7e7349;
	--a-visited-color:lightblue;
	--a-hover-color:lightgray;
	--input-border-color:rgba(255,255,255,.1);
	--input-placeholder-color:lightblue;
	--dialog-bg-color:rgba(10, 10, 10, .94);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: var(--bg-color);
}
*::-webkit-scrollbar-thumb {
    background: gray; 
}
html, body {
  background:var(--bg-color) !important;
  background-image:none !important;
  background-color:var(--bg-color) !important;
}

html, body, body *:not(a){
	color:var(--text-color) !important;
}
*{box-shadow:none !important;}
html *:not(body):not(span):not(a):not([style*=background-image]):not([style*=url]):not(figure):not(svg):not(img):not(img):not([class*=dialog]):not([role*=dialog]):not([class*=sub-items]):not([class=sbsb_b]):not(input):not(select):not(textarea):not(option):not([class*=menu]):not([class*=logo]):not([class*=Menu]):not([class*=Header]):not([role*=menuitem]):not([aria-labelledby*=menu]):not([class*=msg-overlay]):not([class*=dropdown-options]):not([class*=rsdc-dual-month]):not([class*=popup]):not(button):not(header):not(picture):not(section):not([class=c-uhfh-gcontainer-st]){
	border:none !important;
	outline:none !important;
	box-shadow:none !important;
	background-image:none !important;
	background:none !important;
	background-color:rgba(0,0,0,0) !important;
}
section{
	border:none !important;
	outline:none !important;
	box-shadow:none !important;
	background-color:var(--bg-color) !important;
}
svg{fill:var(--text-color) !important;}
html *[class*=menu]{
	color:var(--text-color) !important;
	border:none !important;
	box-shadow:none !important;
	background-image:none !important;
	background:none !important;
}
html span:not([class*=c-badge]), html a{
	color:var(--text-color) !important;
	border:none !important;
	outline:none !important;
	box-shadow:none !important;
	background-color:rgba(0,0,0,0) !important;
}
html span[class*=c-badge]{
	border:none !important;
	outline:none !important;
	box-shadow:none !important;
	background-color:rgba(0,0,0,0) !important;
}
html span[class~=logo], html span[class~=img], html a[class~=logo], html div[class~=logo]{
	background-image:none !important;
	background:none !important;
}
section[class*=section], div[class*=section]{
	background:none !important;
	background-color:rgba(0,0,0,0) !important;
}
section[data-grid]{filter:brightness(75%);background-color:rgba(0,0,0,0) !important;}
div::before, div::after, section::before, section::after, li::before, li::after, header::before, header::after, span::before, span::after, article::before, article::after{
	background:none !important;
	background-color:rgba(0,0,0,0) !important;
	border:none !important;
}
li:not([class*=menu]):not([id*=menu]):hover{background-color:rgb(0,0,0,0) !important;}

a, a:link, a.fl, a.fl:link, .departments-facet-desktop .dept-head-list-heading a, .departments-facet-desktop .dept-head-list-heading a:link{color:var(--a-color) !important;}
a:visited, a.fl:visited{color:var(--a-visited-color) !important;}
a:hover, a.fl:hover{color:var(a-hover-color) !important;}
ul[class*=menu], li[class*=menu], div[class*=menu-], a[class*=menu], a[id*=menu], a[class*=Menu], div[class*=Menu], dl dd, dl dt, dl dd *, dl dt *, ul[class*=sub-items], html div[class*=Header]:not([class=HeaderedGrid__header]):not([data-tl-id=categorypage-CuratedCategoryCarousel-ModuleHeader]), *[role*=menuitem], div[aria-labelledby*=menu], ul[class*=dropdown-options], *[role=dialog], *[class*=popup],header, button:not([class*=c-flipper]), .c-uhfh-gcontainer-st{
	background-color:var(--bg-color) !important;
}
*[class*=masthead], #nav__plain-header{
	background-color:var(--bg-color) !important;
	border:none !important;
}

input::placeholder, textarea::placeholder{
	color:var(--input-placeholder-color) !important;
}
div[class*=dialog], div[id*=dialog], div[role*=dialog]{
	background:var(--dialog-bg-color) !important;
}
*[class*=msg-overlay]{
	background-color:/*rgba(0,0,0,.7)*/var(--dialog-bg-color) !important;
}
input:not([id=sb_form_go]), select, textarea, #CountryUrlChooser{
	border:0.5px solid var(--input-border-color) !important;
	background:none !important;
	color:var(--text-color) !important;
	background-color:var(--dialog-bg-color) !important;
}
input#sb_form_go{filter:invert(89%);}
select option{
	color:var(--text-color) !important; 
	background-color:var(--bg-color) !important;
	border:1px solid var(--input-border-color) !important;
}
form#sb_form input#sb_form_go{transform:scale(0.64) !important;}
#hp_sw_hdr, footer#b_footer, #id_hbfo, #id_d, #off_menu_cont, #in-page_generated_clone{background-color:var(--bg-color) !important;}
h2.black-c, h3.black-c, p.black-c, span.black-c,.high-contrast:not([id=TopContentBlockList_3]){filter:invert(60%) sepia(100%);}
#closeModal{background:var(--dialog-bg-color) !important;}
grammarly-extension{visibility:hidden;}